<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <title>Users Store</title>
</head>
<body>
    <div class="wrapper">
    <#include "/src/main/webapp/WEB-INF/templates/header.html">
        <div class="content">
            <div class="header">
                Users
            </div>
            <#if users?has_content>
            <div class="search__message message">
            <#if foundUsers?has_content>
                ${foundUsers} Users were found
            </#if>
            </div>
            <div class="result_table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>FirstName</th>
                        <th>SecondName</th>
                        <th>Salary</th>
                        <th>Birthday</th>
                        <th>Actions</th>
                    </tr>
                    <#list users as user>
                    <tr>
                        <td>${user.id}</td>
                        <td>${user.login}</td>
                        <td>${user.firstName}</td>
                        <td>${user.lastName}</td>
                        <td><#if (user.salary)??>${user.salary}</#if></td>
                        <td><#if (user.dateOfBirth)??>${user.dateOfBirth}</#if></td>
                        <td>
                            <div class="result_table__buttons">
                                <a href="/users/edit?id=${user.id}">Edit</a>
                                <form action="/users/remove" method="POST">
                                    <button type="submit" value="${user.id}" name="id">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </#list>
                </table>
            </div>

            <div class="search">
                <form action="/users/search" method="GET">
                    <div class="search__content">
                        <div class="search__field field">
                            <input type="text" placeholder="Search text" name="searchText">
                        </div>
                        <div class="button">
                            <input type="submit" value="Search">
                        </div>
                    </div>
                </form>
                <div class="all_users_button button">
                    <#if foundUsers?has_content>
                    <a href="/users">Show all users</a>
                    </#if>
                </div>
            </div>
        <#else>
            <div class="message">
                There are no Users in database
            </div>
        </#if>
        </div>
    <#include "/src/main/webapp/WEB-INF/templates/footer.html">
    </div>
</body>
</html>