<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/assets/css/style.css}" rel="stylesheet"/>
    <title>Users Store</title>
</head>
<body>
    <div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
        <div class="content">
            <div class="header">
                Users
            </div>
            <div th:if="${users}">
            <div class="search__message message">
                <div th:if="${foundUsers}">
                    <p th:text = "${foundUsers} + 'Users were found'"></p>
                </div>
            </div>
            <div class="result_table">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>FirstName</th>
                        <th>SecondName</th>
                        <th>Salary</th>
                        <th>Birthday</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">No id</td>
                        <td th:text="${user.login}">No login</td>
                        <td th:text="${user.firstName}">No firstname</td>
                        <td th:text="${user.lastName}">No lastname</td>
                        <td th:text="${user.salary}? ${user.salary}">No salary</td>
                        <td th:text="${user.dateOfBirth}? ${user.dateOfBirth}">No DOB</td>
                        <td>
                            <div class="result_table__buttons">
                                <a th:href="@{'/users/edit?id=' + ${user.id}}">Edit</a>
                                <form action="/users/remove" method="POST">
                                    <button type="submit" th:value="${user.id}" name="id">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="search">
                <form action="/users/search" method="GET">
                    <div class="search__content">
                        <div class="search__field field">
                            <input type="text" placeholder="Search text" name="searchText">
                        </div>
                        <div class="button">
                            <input type="submit" value="Search">
                        </div>
                    </div>
                </form>
                <div class="all_users_button button">
                    <div th:if="${foundUsers}">
                        <a href="/users">Show all users</a>
                    </div>
                </div>
            </div>
            </div>
            <div th:unless="${users}">
                <div class="message">
                    There are no Users in database
                </div>
            </div>
            </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>