<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
</head>
<body>
<h2>Add user:</h2>
<form action="/users/add" method="POST">
    <p>First Name: <input type="text" name="firstName"/></p>
    <p>Last Name: <input type="text" name="lastName"/></p>
    <p>Salary: <input type="number" name="salary"/></p>
    <p>Birthday: <input type="date" name="dateOfBirth"/></p>
    <p><input type="submit" value="Add"></p>
</form>
</body>
</html>