<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit User</title>
</head>
<body>
<h2>Edit user:</h2>
<form action="/users/edit" method="POST">
    <#if user?has_content>
        <p>ID: <input type="number" name="id" value="${user.id}" readonly/></p>
        <p>First Name: <input type="text" required name="firstName" value="${user.firstName}"/></p>
        <p>Last Name: <input type="text" required name="lastName" value="${user.lastName}"/></p>
        <p>Salary: <input type="text" required name="salary" <#if (user.salary)??> value="${user.salary}"</#if>/></p>
        <p>Birthday: <input type="date" required name="dateOfBirth" <#if (user.dateOfBirth)??> value="${user.dateOfBirth}"</#if>/></p>
        <p><input type="submit" value="Edit"></p>
    </#if>
</form>
</body>
</html>