<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!--<servlet>
        <servlet-name>AllUsersServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.AllUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.AddNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.RemoveUserServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetsServlet</servlet-name>
        <servlet-class>com.boroday.userstore.web.servlet.AssetsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AllUsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserServlet</servlet-name>
        <url-pattern>/users/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/users/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/users/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/users/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetsServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>
